---
layout: layouts/recipe.njk
permalink: /recipes/dosa/
title: "Vegetable Dosa"
description: "Do you love Dosa/Dose? But are you also struggling to include vegetables in your diet? This is it."
excerpt: "Do you love Dosa/Dose? But are you also struggling to include vegetables in your diet? This is it."
metaItems:
  - label: "Prep Time"
    value: "8 hours"
  - label: "Cook Time"
    value: "20 mins"
  - label: "Servings"
    value: "4 dosas"
ingredients:
  - "Rice - 1½ cups"
  - "Urad Daal - ½ cup"
  - "Salt - 2 tsp"
  - "Vegetables of choice (Methi/Beetroot/Beans/Greens)"
  - "Sesame seeds - 1 tsp"
instructions:
  - "Soak the rice and daal separately in slightly warm water for 2 - 8 hours."
  - "Grind separately to a smooth paste and mix in a large vessel with salt. Mix thoroughly (use blender if possible)."
  - "Ferment for 12 hours."
  - "Puree the vegetable of your choice and mix it with the batter."
  - "Heat the pan and spread a drop of oil on it."
  - "When the pan is fully heated, take some flour and spread it on the pan into a round shape."
  - "Sprinkle sesame seeds and Ghee on one side of the dosa."
  - "Turn it over so that both sides are cooked well."
legacyPath: "/recipies/dosa.html"
---