---
layout: layouts/recipe.njk
permalink: /recipes/spinachParath/
title: "Spinach Paratha"
description: "Enjoy this Heart healthy green recipie."
excerpt: "Enjoy this Heart healthy green recipie."
image: "/img/spinachParatha.jpg"
metaItems:
  - label: "Prep Time"
    value: "15 mins"
  - label: "Cook Time"
    value: "10 mins"
  - label: "Calories"
    value: "180-220 kcal"
ingredients:
  - "1/4 cup wheat flour"
  - "1/4 cup Palak OR any green leafy vegetable"
  - "1/2 tsp cumin seeds"
  - "1/2 tsp red chili powder"
  - "1/2 tsp salt"
  - "1 tbsp oil (15 ml)"
instructions:
  - "In a mixing bowl, add wheat flour, salt, and cumin seeds. Mix well and knead it to form a soft dough. Cover and let it rest for 10-15 minutes."
  - "Roll the dough into a small circle and stuff ground boiled spinach in the center of the rolled dough circle."
  - "Add red chili powder on top of the spinach."
  - "Gently fold the dough and roll gently."
  - "Cook the rolled paratha on the tawa with oil."
  - "Serve the Parathas hot with your favorite side dish or yogurt."
legacyPath: "/recipies/spinachParath.html"
---