---
layout: layouts/recipe.njk
permalink: /recipes/uthappa/
title: "Vegetable Uthappam"
description: "Sneak in the most underrated macronutrient into your life with this delicious vegetable uttappam and see your self getting better everyday."
excerpt: "Sneak in the most underrated macronutrient into your life with this delicious vegetable uttappam and see your self getting better everyday."
image: "/img/Uttapam.jpg"
metaItems:
  - label: "Prep Time"
    value: "8 hours"
  - label: "Cook Time"
    value: "20 mins"
  - label: "Servings"
    value: "4 uthappams"
ingredients:
  - "Par boiled rice - 4 cups"
  - "Urud dal - ½ cup"
  - "Fenugreek seeds - 2 tsp"
  - "Tomatoes"
  - "Onion"
  - "Capsicum"
  - "Salt"
instructions:
  - "Soak the above in water for about 4 - 5 hours and grind into a fine flour."
  - "Leave it for about 8 hours to become sour."
  - "Heat a dosa tawa and spread a tsp of oil over it."
  - "When it becomes hot enough, place a ladle of flour and spread on it (it should be thicker than a normal dosa)."
  - "Sprinkle chopped vegetables of choice and Ghee on one side of the dosa."
  - "When it is cooked on one side, turn over, add a tsp of oil all over its edge and remove when fully cooked."
legacyPath: "/recipies/uthappa.html"
---